@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: "Architects Daughter", sans-serif;
    margin: 0;
    padding-top: 3rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.add{
    color: white;
    font-family: inherit;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: rgb(6, 155, 6);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
}
.add:hover{
    background-color: lightgreen;
}
.add:focus{
    outline: none;
    background-color: green;
}
.notes{
    display: flex;
    flex-wrap: wrap;
}
.note{
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.0.75);
    /* margin: 2rem 1rem; */
}

.note .tools{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    /* opacity: 0.4; */
}

.note .tools button{
    border: none;
    background-color: transparent;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #444;
    font-weight: bold;
}

.note .tools button{
    outline: none;
}
.note main{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: #eee;
}
.note textarea{
    width: 300px;
    height: 300px;
    resize: none;
    border: none;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.5rem;
}
.note textarea:focus{
    outline: none;
}
.note .hidden{
    display: none;
}